# 2nd Practical task

## Combining skills from practical
1. reading csv data
2. creating a json summary
3. Storing records in a SQLite database

## Topic: irrigation water level monitoring 
1. Each topics must create a csv file with 15 rows and 4 columns
2. Must include: day, location, topic variable 1, topic variable 2

## Chosen dataset variables
1. Day
2. Location (3 location)
3. pH 
4. Temperature

# 1. Making csv dataset

In [6]:
# setup 
import random
import pandas as pd
import openpyxl as pxl
import json 
import sqlite3

In [14]:
# let's make a line with noise

# 1. Set placeholder for data:
days = []
location_places = ["Section1", "Section2", "Section3"]
location = []
pH = []
temperature = []

# Run this block to reset data in runtime

In [15]:
# 2 Making a noise function

def noise_introducer(x):
    return x + random.uniform(-0.25, 0.25)

In [16]:
# 3. Making the dataset

for loc in location_places:
    for day in range(1, 6):
        location.append(loc)
        days.append(day)
        pH.append(noise_introducer(6.3))
        temperature.append(noise_introducer(20))

data = {
    "days": days,
    "location": location,
    "pH": pH,
    "temperature": temperature
}

In [17]:
df = pd.DataFrame(data)

In [18]:
df

    days  location        pH  temperature
0      1  Section1  6.050908    20.180635
1      2  Section1  6.510725    20.229318
2      3  Section1  6.306598    19.800276
3      4  Section1  6.441109    20.120644
4      5  Section1  6.436185    19.977679
5      1  Section2  6.240645    19.831672
6      2  Section2  6.338754    19.769866
7      3  Section2  6.281407    19.925543
8      4  Section2  6.524961    19.834125
9      5  Section2  6.518694    19.929925
10     1  Section3  6.424585    19.844706
11     2  Section3  6.443863    20.141506
12     3  Section3  6.146905    19.780632
13     4  Section3  6.063549    19.821689
14     5  Section3  6.240623    20.001348

In [19]:
# 4. Exporting to csv 
df.to_csv("data.csv", index=False)

# 2. Reading csv dataset

In [21]:
# Importing csv data
imported_csv_data = pd.read_csv("data.csv")

In [22]:
# checking if data has been imported
imported_csv_data

    days  location        pH  temperature
0      1  Section1  6.050908    20.180635
1      2  Section1  6.510725    20.229318
2      3  Section1  6.306598    19.800276
3      4  Section1  6.441109    20.120644
4      5  Section1  6.436185    19.977679
5      1  Section2  6.240645    19.831672
6      2  Section2  6.338754    19.769866
7      3  Section2  6.281407    19.925543
8      4  Section2  6.524961    19.834125
9      5  Section2  6.518694    19.929925
10     1  Section3  6.424585    19.844706
11     2  Section3  6.443863    20.141506
12     3  Section3  6.146905    19.780632
13     4  Section3  6.063549    19.821689
14     5  Section3  6.240623    20.001348

In [24]:
# Getting the first 2 rows of data
imported_csv_data.head(2)

   days  location        pH  temperature
0     1  Section1  6.050908    20.180635
1     2  Section1  6.510725    20.229318

# 3 Creating a json summary

In [31]:
# Making a summary dict
# Note: We need to state dtype as well
summary = {
    "total_records": len(imported_csv_data),
    "average_pH": float(imported_csv_data["pH"].mean()),
    "average_temperature": float(imported_csv_data["temperature"].mean())
}

In [32]:
# Checking list
summary

{'total_records': 15,
 'average_pH': 6.331300738036589,
 'average_temperature': 19.945970913155485}

In [33]:
# Exporting to json file format
with open("irrigation_summary.json", "w") as f:
    json.dump(summary, f, indent=2)

# 4. Storing records in a SQLite database

In [34]:
conn = sqlite3.connect("agriculture.db")
cursor = conn.cursor()

In [41]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS irrigation_data (
    id INTEGER PRIMARY KEY,
    day INTEGER,
    location TEXT,
    ph FLOAT,
    temperature FLOAT
               )
""")

In [42]:
rows_to_insert = imported_csv_data.to_records(index=False)

cursor.executemany("""
INSERT INTO irrigation_data (day, location, ph, temperature)
VALUES (?, ?, ?, ?)
""", rows_to_insert)
conn.commit()
print("Recorsds inserted successfully.")

Recorsds inserted successfully.